<!DOCTYPE html>
<html>

<head>
    <title>Sports Scrape</title>
    <!-- View Port Size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Materialize - Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="grey lighten-2">
    <!-- Fixed Nav Bar -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper red darken-4">
                <a href="/" class="brand-logo center">Sports Scrape</a>
            </div>
        </nav>
    </div>

    <!-- Render All Articles -->
    {{{body}}}

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="assets/javascript/app.js"></script>
</body>

</html>